<form action="/cart" method="post">
    <!-- Токен для защиты от CSRF-атак (межсайтовая подделка запроса) name="_csrf" - такое имя в body post-запроса будет искать библиотека csurf -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add to cart</button>
    <input type="hidden" name="productId" value="<%- product._id %>">
</form>